<div class="w3-container w3-padding-64" id="contact">
    <div class="w3-row w3-center w3-padding-64"> 
                <div >
                    <h2><b>Summit 2019 Livestream</b></h2>
                </div>
            <div class="w3-padding-16"></div>

     
            <!-- <div class="w3-padding-64"></div> -->

        <div class="container">
                <br/>

                <!-- <div id="<player div ID>"></div> -->
                    <div id="video-embed"></div>

                    <br/>
            <!-- <h2>Stay tuned for the 2019 CSforALL Summit on October 21-23 (MT)</h2>
            <br/><br/> -->

            <h1> Check out some of the 2019 CSforALL Summit below</h1>
            <br />
          
           <!-- Video -->
             <iframe src="https://player.vimeo.com/video/372169661?color=ed185b" width="60%" height="360" frameborder="0" allowfullscreen class="video-iframe" id="frame" title="CSforALL Summit 2019 - FIRESIDE CHAT: Leveraging Public Media to Inspire All Kids to See Themselves in Tech"></iframe>
            <p class="video-name">CSforALL Summit 2019 - FIRESIDE CHAT: Leveraging Public Media to Inspire All Kids to See Themselves in Tech</p>
 
            <!-- Video -->
             <iframe src="https://player.vimeo.com/video/372540695?color=ed185b" width="60%" height="360" frameborder="0" allowfullscreen class="video-iframe" id="frame" title="CSforALL Summit 2019 - PANEL: Data Science in K-12 - Charting the Future"></iframe>
            <p class="video-name">CSforALL Summit 2019 - PANEL: Data Science in K-12 - Charting the Future</p>
 

            <!-- Video -->
                 <iframe src="https://player.vimeo.com/video/372557744?color=ed185b" width="60%" height="360" frameborder="0" allowfullscreen class="video-iframe" id="frame" title="CSforALL Summit 2019 - SPOTLIGHT: Learn to Earn"></iframe>
                <p class="video-name">CSforALL Summit 2019 - SPOTLIGHT: Learn to Earn</p>
 
            <!-- Video -->
                 <iframe src="https://player.vimeo.com/video/372189163?color=ed185b" width="60%" height="360" frameborder="0" allowfullscreen class="video-iframe" id="frame" title="CSforALL Summit 2019 - FIRESIDE CHAT: Pathways for Girls"></iframe>
                <p class="video-name">CSforALL Summit 2019 - FIRESIDE CHAT: Pathways for Girls</p>
 

                <br />
                <h3>You can view all the videos from the 2019 Summit on <a class="links" href="https://vimeo.com/csforall" target="_blank">Vimeo</a></h3>
                <br />
                <h3>Check out the 2019 Summit archive <a class="links" href="https://www.summit.csforall.org/archive-2019">here</a></h3>    
           <br />
            <h3>Follow the conversation <a target="_blank" href="https://twitter.com/hashtag/csforallsummit">#CSforALLSummit</a></h3>

        </div>
    </div>
</div>