 
<div> 
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
    <ul class="navbar-nav w-100">

        <div class="center">

      <li class="nav-item center-links" id="hideonclick">
      <a class="nav-link" target="_blank"  href="http://summit.csforall.org/">SUMMIT HOME</a>
       </li>
       <a class="navbar-brand " href="http://summit.csforall.org/"><img class="logo-nav" src="../../../assets/img/2019/general/bee.ico" alt="Summit Logo"></a>

       <li class="nav-item center-links" id="hideonclick">
        <a class="nav-link" target="_blank"  href="http://csforall.org/">CSFORALL HOME</a>
         </li>
        </div>
       
      <!-- <li class="nav-item dropdown ml-auto" id="dropdownMenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Summit Archives
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <li id="dropdownItem">
          <a class="dropdown-item" routerLink="/archive-2018" >Summit 2018</a>
        </li>
        <li id="dropdownItem">
          <a class="dropdown-item" routerLink="/archive-2017" >Summit 2017</a>
        </li>
        </div>
      </li> -->
    </ul> 
     
    
  
  </div>
 


</nav>


</div>