<!-- Footer -->
<footer>
    <div class="footer-nav w3-xlarge w3-section w3-margin-bottom">
        <div><a href="https://www.csforall.org/" target="_blank"><img class="footer-logo" src="./assets/img/csforall-logo-large.png" alt="CSforALL Logo"></a></div>
           <!-- Socials -->
        <div class="footer-social">
            <a href="https://twitter.com/csforall?lang=en" target="_blank"><i class="fab fa-twitter footer-icon"></i></a>
            <a href="https://www.facebook.com/CSforALLorg/" target="_blank"><i class="fab fa-facebook-f footer-icon"></i></a>
            <a href="https://www.instagram.com/explore/tags/csforall/" target="_blank"><i class="fab fa-instagram footer-icon"></i></a>
            <a href="https://medium.com/csforall-stories" target="_blank"><i class="fab fa-medium-m footer-icon"></i></a>
        </div>
    </div>
    <div class="w3-medium w3-section ">    </div>
     </footer>